<body>
  <div id="actions">
    <button onClick="reset = true">angle reset</button>
    <button onClick="action = true">action</button>
  </div>
</body>

<script type="text/javascript">
// setup
var dispatcher = new WebSocketRails("dry-falls-25691.herokuapp.com/websocket");
var channel = "<%= @channel %>";
var reset = false,
    action = false;
var d_motion,
    interval,
    aig,
    acc;

window.onload = function(){
	var getDevice = (function(){
    var ua = navigator.userAgent;
    if(ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0){
      // call main function
    	window.addEventListener("devicemotion", deviceMotion);

      // function loop
      sendData();
    }else{
      // not surpported devise
      var actions = document.getElementById('actions');
      actions.style.display = "none";

      alert("This devise is not supported");
    }
  })();
}

// send data function by websocket
function sendData(){
  dispatcher.trigger("send_message", {chn: channel, d: d_motion, i: interval, aig: aig, acc: acc, reset: reset, action: action});

  reset = false;
  action = false;
  requestAnimationFrame(sendData);
}

// update device_motion data
function deviceMotion(e){
  d_motion = e.rotationRate;
  interval = e.interval;
  aig = e.accelerationIncludingGravity;
  acc = e.acceleration;
}
</script>