<body>
</body>

<script type="text/javascript">
window.onload = function(){
  var channel = "<%= @channel %>";
	var getDevice = (function(){
    var ua = navigator.userAgent;
    if(ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0){
    	var dispatcher = new WebSocketRails("dry-falls-25691.herokuapp.com/websocket");
      window.addEventListener("devicemotion", function(e){
        d_motion = e.rotationRate;
        interval = e.interval;
        aig = e.accelerationIncludingGravity;
        acc = e.acceleration;
        dispatcher.trigger("send_message", {chn: channel, d: d_motion, i: interval, aig: aig, acc: acc}, function(){console.logg('success')}, function(response){console.log(response)});
      });
      device = "mobile";
    }else{
      alert("This devise is not supported")
    }
  })();
}
</script>